@import "@fortawesome/fontawesome-free/css/all.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.horizontal-line {
    flex-grow: 1;
    height: 1px;
    margin-top: 8px; /* Adjust the margin-top value as needed */
    background-color: #166eb6;
}

.horizontal-line-2 {
    flex-grow: 1;
    height: 2px;
    width: 40px;
    margin-top: 32px; /* Adjust the margin-top value as needed */
    background-color: #166eb6;
    border-color: #166eb6;
}

@media (max-width: 768px) {
    .horizontal-line-2 {
        margin-top: 13px; /* Adjust the margin-top for smaller screens */
    }
}

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .custom-number-input input:focus {
    outline: none !important;
  }

  .custom-number-input button:focus {
    outline: none !important;
  }
